<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Django Admin" stopProcessing="true">
                    <match url="^admin/(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:8000/admin/{R:1}" />
                </rule>
                <rule name="React SPA Fallback" enabled="true" stopProcessing="true">
                    <match url="^(?!api/|admin/|static/|media/)(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
